numpy==2.2.2
pandas==2.2.3
scipy==1.15.1
pybedtools==0.10.0
notebook~=7.3.2
pydantic~=2.10.6
numpydantic~=1.6.7
pyranges1==1.0.3
s3fs~=2025.2.0
fsspec~=2025.2.0
temporalio~=1.10.0
dotenv~=0.9.9
python-dotenv~=1.0.1
pymongo~=4.8.0
pyarrow~=19.0.0
pyspark==3.5.3
matplotlib~=3.10.1
seaborn~=0.13.2
gprofiler-official~=1.0.0
pydeseq2~=0.5.1
sanbomics~=0.1.0
tqdm~=4.67.0
